<script src="../assets/jquery.classywiggle.js"></script>

<div id="content">
	<div class="row" id="row1">
		<div class="col-md-1"></div>

		<div class="col-md-10" id="feed-view">
			<div class="progress progress-striped active">
				<div class="progress-bar" style="width:100%"></div>
			</div>
		</div>

		<script>
			InstaTech.Store.currentUserId = "<%= current_user.id %>";
			InstaTech.userFeeds = new InstaTech.Collections.Feeds();
			InstaTech.userFeeds.fetch({
				success: function(collection) {
					// $('.progress-bar').css('width', '100%')
					router = new InstaTech.Router();
					Backbone.history.start();
					// router.navigate("users/" + InstaTech.Store.currentUserId + "/feeds")
					// router.userFeeds();
				}
			});
		</script>

	</div>

</div>