body {
	background-image: url('tweed.png');
}

a img {
	width: 20px;
	height: 20px;
}

.inner-body {
	margin-top: 125px;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
}

/* modal */

.modal-dialog {
	position: static;
	margin-top: 15%;
}

input {
	background-color: rgba(122, 130, 136, 1);
	font-family: Calibri, Arial, Sans-serif;
}

.modal input {
	font-size: 22pt;
	height: 60px;
	width: 530px;
}

/* header */


/* footer */

footer ul {
	margin-top: 40px;
	float: right;
	list-style: none;
}

footer li {
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}