@import 'bootstrap';

/*html {
	overflow-y: scroll;
}*/

.inner-body {
	margin-top: 60px;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
}

/* header */


/* footer */

footer ul {
	margin-top: 40px;
	float: right;
	list-style: none;
}

footer li {
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}