// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* singleFeedView */

.singleFeed {
	width: 300px;
	display: inline-block;
/*	background-image: linear-gradient(to bottom, #222222, #111111);
	color: #999999;
	font-size: 16px;*/
/*	padding: 0px 20px 9px 49px;*/
}