.twitterFeed {
    width: 325px;
    height: 450px;
    border-radius: 10px;
    background-color: #B9B6BA;
}

.tweetBoxHeader {
    margin-left: 13px;
    padding-top: 10px;
    font-family: Arial;
    font-weight: bold;
    font-style:italic;
}

hr {
    width: 90%
}