<div id="footer">
	<div id="container">
		<!-- <p><a href="http://www.linkedin.com/in/davidattarzadeh">About Me</a>
			| <a href="mailto:dattar01@gmail.com">Contact</a> -->

	</div>
</div>

<!-- <div class="row">
	<div class="col-md-10">
		<ul class="list-unstyled">
			<li class="pull-right"><a href="http://www.linkedin.com/in/davidattarzadeh">About Me</a></li>
			<li class="pull-right"><a href="mailto:dattar01@gmail.com">Contact</a></li>
		</ul> -->