<footer class="footer">
	<div class="row">
		<div class="col-md-10">
			<ul class="list-unstyled">
				<li class="pull-right"><a href="#">About</a></li>
				<li class="pull-right"><a href="#">Contact</a></li>
			</ul>
		</div>
</footer>